In [1]:
import numpy as np
import pandas as pd
import datetime

In [8]:
path = r"C:\Users\kfiradam\Downloads\160648D.xlsx"
xl = pd.ExcelFile(path)
FileName = "160648D.xlsx"
if __name__ == "__main__":
    for sheet in xl.sheet_names:
        if sheet in {"main", "name list", "Sheet8"}:
            continue
        print(sheet)
        df = pd.read_excel(xl, sheet_name=sheet)
        ###REMOVE EMPTY ROWS###

        if "TALMIDIM" in sheet:
            df_filtered_students = df[df['MISPAR_ZEHUT'] != 0]
            df_filtered_students = df_filtered_students[df_filtered_students['MISPAR_ZEHUT'] != ""]
            df_filtered_students.dropna(subset=["MISPAR_ZEHUT"], inplace=True)
           # int_list = {"SHNAT_LIMUDIM", "SUG_ZEHUT", "SHICHVA", "MAKBILA"}
            int_list = {"MISPAR_ZEHUT","SHNAT_LIMUDIM", "SUG_ZEHUT", "SHICHVA", "MAKBILA"}
            for i in int_list:
                df_filtered_students[i] = df_filtered_students[i].astype(int)

        if "MISHTATEF" in sheet:
            df_filtered_participant = df[df['MISPAR_ZEHUT_MISHTATEF'] != 0]
            df_filtered_participant_1 = df_filtered_participant[df_filtered_participant['MEZAHE_KVUTSA_MEMOSAD'] != ""]
            df_filtered_participant_1.dropna(subset=["MISPAR_ZEHUT_MISHTATEF"], inplace=True)
            int_list_0 = {"SHNAT_LIMUDIM", "MEZAHE_KVUTSA_MEMOSAD", "MISPAR_ZEHUT_MISHTATEF", "MISPAR_ZEHUT_MISHTATEF",
                          "CODE_SUG_MISHT_KVUTSA","SUG_ZEHUT_MISHTATEF" }
            for i in int_list_0:
                # print(df_filtered_participant_1[i])
                # print(type(df_filtered_participant_1[i]))
                df_filtered_participant_1[i] = df_filtered_participant_1[i].astype(int)

        if "OVDEY_HORAA" in sheet:
            df_filtered_teacher = df[df['MISPAR_ZEHUT'] != ""]
            df_filtered_teacher = df_filtered_teacher[df_filtered_teacher['MISPAR_ZEHUT'] != 0]
            df_filtered_teacher.dropna(subset=["MISPAR_ZEHUT"], inplace=True)
            int_list_1 = {"SHNAT_LIMUDIM", "MISPAR_ZEHUT", "SUG_ZEHUT", "CODE_MIN"}
            for i in int_list_1:
                df_filtered_teacher[i] = df_filtered_teacher[i].astype(int)

        if ("KVUTSA" in sheet) and ("MISHTATEF" not in sheet):
            df_filtered_group = df[df['SHEM_KVUTSA'] != ""]
            df_filtered_group = df_filtered_group[df_filtered_group['SHEM_KVUTSA'] != 0]
            df_filtered_group.dropna(subset=["SHEM_KVUTSA"], inplace=True)
            int_list_2 = {"SHNAT_LIMUDIM", "CODE_SUG_KVUTSA", "CODE_TKUFAT_PEILUT", "MISPAR_MIKTSOA_BEIT_SIFRI",
                          "CODE_MIKTSOA_KVUTSA_MISRAD", "SHLAV_HINUCH", }
            for i in int_list_2:
                df_filtered_group[i] = df_filtered_group[i].astype(int)
        if "MOSDOT" in sheet:
            df_institute = df

            int_list_3 = {"GOREM_MEDAVEACH", "MAAMAD_MISHPATI", "MIGZAR", "RASHUT_CHINUCH", "SEMEL_MOSAD",
                          "SEMEL_YISHUV",
                          "SHLAV_HINUCH", "SHNAT_LIMUDIM", "SUG_CHINUCH", "SUG_MOSAD", "SUG_PIKUACH",
                          "MIS_ZEHUT_MENAHEL"}
            for i in int_list_3:
                df_institute[i] = df_institute[i].astype(int)

        if sheet == "TABs_name":
            group_participant = df.iloc[0, 0] + ".csv"
            students = df.iloc[1, 0] + ".csv"
            group = df.iloc[2, 0] + ".csv"
            teachers = df.iloc[3, 0] + ".csv"
            institute = df.iloc[4, 0] + ".csv"
        ###FILE NAME###

    tab_list = {group_participant, students, group, teachers, institute}
    for tab in tab_list:
        csv_path = path.replace(FileName, tab)
        if tab == group_participant:
            df_filtered_participant_1.to_csv(csv_path, encoding="utf-8", index=False)
        elif tab == students:
            df_filtered_students.to_csv(csv_path, encoding="utf-8", index=False)
        elif tab == group:
            df_filtered_group.to_csv(csv_path, encoding="utf-8", index=False)
        elif tab == teachers:
            df_filtered_teacher.to_csv(csv_path, encoding="utf-8", index=False)
        else:
            df_institute.to_csv(csv_path, encoding="utf-8", index=False)

גליון הקלדת נתונים ידני
רשימת שמות משתמש
users
TALMIDIM_M
MISHTATEF_KVUTSA
MOSDOT
OVDEY_HORAA
KVUTSA
TABs_name
day&time

In [7]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,חרדי
0,NaN,NaN,NaN,NaN,NaN,NaN
1,סופי,NaN,סופית,תחילית,NaN,NaN
2,MISHTATEF_KVUTSA_2024_160648_2024-3-4-5-42-28_...,NaN,_from_moe,MISHTATEF_KVUTSA_2024,NaN,Speak2Go Y4 CHAREDI
3,TALMIDIM_M_2024_160648_2024-3-4-5-42-28_from_moe,NaN,_from_moe,TALMIDIM_M_2024,NaN,Speak2Go Y5 CHAREDI
4,KVUTSA_2024_160648_2024-3-4-5-42-28_from_moe,NaN,_from_moe,KVUTSA_2024,NaN,Speak2Go Y6 CHAREDI
...,...,...,...,...,...,...
71,,NaN,NaN,NaN,NaN,NaN
72,,NaN,NaN,NaN,NaN,NaN
73,,NaN,NaN,NaN,NaN,NaN
74,,NaN,NaN,NaN,NaN,NaN
75,,NaN,NaN,NaN,NaN,NaN