# Speak2go - Final Grade Analysis

In [1]:
import pandas as pd
import warnings
import numpy as np
import win32com.client as win32
warnings.filterwarnings("ignore")

In [2]:
path = r"C:\Users\kfir\Downloads\אנגלית ה4.xlsx"
sheet = path.split('\\')[-1].split('.')[0]
# path.replace("\", "/", 5)
print(path)
file_name=path[:-4]

# orig_df = pd.read_csv(path)
orig_df = pd.read_excel(path, sheet_name=sheet,na_values='NaN')

C:\Users\kfir\Downloads\אנגלית ה4.xlsx

In [3]:
df = orig_df.iloc[3:]

In [4]:
df.columns = orig_df.iloc[2]

In [5]:
df['Date'] = orig_df.columns[6]
df['Class name'] = orig_df["Unnamed: 2"].loc[:0].values[0]
df['Teacher name'] = orig_df["Unnamed: 4"].loc[:0].values[0]

In [6]:
df.fillna(0, inplace=True)

In [7]:
df.head()

2,Student name,ID number,"Nice to Meet You! F1, FP","At the Airport, F2 FP","Where I Live, F1 FP","Plan a Party, F2 FP","Sam's Family, F1 FP NEW","Training #4, Foundation Hebrew","More Family, F1 FP","Meet my Sister, F1 FP",...,Merkin Assessment Test Basic level (start of the year),"My School Bag, F1 FP",What about the Kids Club? F2 FP,"Lesson #2, JH/H School Hebrew","Party Food, F2 FP",Who has a Pet? F1 FP,"Dinner, F1 FP",Date,Class name,Teacher name
3,נעמה מנוחה קפלן,221162126,0.0,0,0.0,0,0,0.000,0.000,0,...,0,0,0,0,0.0,0,0.0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי
4,מאיה קליין,220729297,100.0,100,100.0,0,100,50.005,100.000,100,...,100,0,0,0,0.0,31,0.0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי
5,תהילה כפיר,220899520,94.0,100,0.0,0,0,82.000,0.000,0,...,0,0,0,79,0.0,0,0.0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי
6,כרמי זכריה,220723720,0.0,78,0.0,0,0,70.000,43.048,0,...,0,0,0,0,0.0,0,0.0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי
7,אורי פנחסי,220667372,100.0,84,0.0,0,0,91.000,0.000,0,...,83,94,100,0,0.0,0,0.0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי

In [8]:
for col in df.columns[2:-3]:
    df[col] = df[col].astype(float)
    df[col] = df[col].astype(int)
    df[col] = np.where(df[col]<40,0,df[col])

In [9]:
df['# lessons'] = (df.iloc[:,2:-3]>0).sum(axis=1)
#df['number of lessons'] = (df.iloc[:,2:-3]>0).sum(axis=1)

In [10]:
median = int(df['# lessons'].median())
meaidn =1 if median == 0 else median

In [11]:
df_T=df.transpose().iloc[2:-4,]
df_T

,3,4,5,6,7,8,9,10,11,12,...,16,17,18,19,20,21,22,23,24,25
2,,,,,,,,,,,,,,,,,,,,,
"Nice to Meet You! F1, FP",0,100,94,0,100,0,0,0,0,50,...,0,0,0,94,0,43,0,0,0,100
"At the Airport, F2 FP",0,100,100,78,84,0,0,0,84,100,...,0,0,0,0,99,99,84,0,100,100
"Where I Live, F1 FP",0,100,0,0,0,0,0,0,0,45,...,0,0,0,76,0,90,0,0,0,100
"Plan a Party, F2 FP",0,0,0,0,0,0,0,0,91,0,...,0,0,0,0,100,0,0,0,100,0
"Sam's Family, F1 FP NEW",0,100,0,0,0,0,0,0,0,99,...,0,0,0,0,0,53,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
What about the Kids Club? F2 FP,0,0,0,0,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Lesson #2, JH/H School Hebrew",0,0,79,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Party Food, F2 FP",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Who has a Pet? F1 FP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Dinner, F1 FP",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
grade = []
for col in df_T.columns:
    final_grade = np.mean(df_T[col].sort_values(ascending=False).iloc[:median])
    final_grade=final_grade.astype(int)
    grade.append(final_grade)
df['Grade'] = grade

In [13]:
df.head()

2,Student name,ID number,"Nice to Meet You! F1, FP","At the Airport, F2 FP","Where I Live, F1 FP","Plan a Party, F2 FP","Sam's Family, F1 FP NEW","Training #4, Foundation Hebrew","More Family, F1 FP","Meet my Sister, F1 FP",...,What about the Kids Club? F2 FP,"Lesson #2, JH/H School Hebrew","Party Food, F2 FP",Who has a Pet? F1 FP,"Dinner, F1 FP",Date,Class name,Teacher name,# lessons,Grade
3,נעמה מנוחה קפלן,221162126,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי,0,0
4,מאיה קליין,220729297,100,100,100,0,100,50,100,100,...,0,0,0,0,0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי,27,100
5,תהילה כפיר,220899520,94,100,0,0,0,82,0,0,...,0,79,0,0,0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי,13,100
6,כרמי זכריה,220723720,0,78,0,0,0,70,43,0,...,0,0,0,0,0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי,9,87
7,אורי פנחסי,220667372,100,84,0,0,0,91,0,0,...,100,0,0,0,0,2023-06-14 14:21:26.231,אנגלית ה4,ענת מזרחי,15,96

In [14]:
df_grades = df[['Student name', 'ID number', 'Grade', '# lessons', 'Date', 'Class name', 'Teacher name']]
date = str(df['Date'].values[0])[:10].replace("/","_",2)
print(date)
#class_name = df['Class name'].values[0]
file=df_grades.to_excel(f'{file_name}_final_grades_{date}.xlsx', encoding='utf-8', freeze_panes=(1,1))

2023-06-14

In [15]:
output_file=f'{file_name}_final_grades_{date}.xlsx'
print(output_file)

C:\Users\kfir\Downloads\אנגלית ה4._final_grades_2023-06-14.xlsx

In [16]:
excel = win32.gencache.EnsureDispatch('Excel.Application')
wb = excel.Workbooks.Open(output_file)
ws = wb.Worksheets("Sheet1")
ws.Columns.AutoFit()
wb.Save()
excel.Application.Quit()